<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>model</key>
	<array>
		<string>models/raptor.plist</string>
		<string>models/speedy.plist</string>
		<string>models/pulsar.plist</string>
		<string>models/panzer.plist</string>
		<string>models/turret.plist</string>
		<string>models/laser.plist</string>
		<string>models/r_launcher.plist</string>
	</array>
	<key>audio</key>
	<dict>
		<key>background</key>
		<array>
			<string>audio/ambient.mp3</string>
		</array>
		<key>effect</key>
		<array>
			<string>audio/explosion_1.wav</string>
			<string>audio/explosion_2.wav</string>
			<string>audio/explosion_3.wav</string>
			<string>audio/laser_gun.wav</string>
			<string>audio/missile_launch.wav</string>
			<string>audio/click.wav</string>
			<string>audio/open.wav</string>
			<string>audio/deploy.wav</string>
			<string>audio/upgrade.wav</string>
			<string>audio/buzz.wav</string>
		</array>
	</dict>
</dict>
</plist>
