<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{87,374},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{163,279},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{179,415},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{297,19},{34,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,10}</string>
                <key>spriteSourceSize</key>
                <string>{47,10}</string>
                <key>textureRect</key>
                <string>{{317,78},{47,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mid_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{255,365},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mid_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,8}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{297,122},{64,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,31}</string>
                <key>spriteSourceSize</key>
                <string>{43,31}</string>
                <key>textureRect</key>
                <string>{{297,33},{43,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panzer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,81}</string>
                <key>spriteSourceSize</key>
                <string>{84,81}</string>
                <key>textureRect</key>
                <string>{{255,279},{84,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pulsar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1,393},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_launcher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{87,466},{45,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raptor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,112}</string>
                <key>spriteSourceSize</key>
                <string>{75,112}</string>
                <key>textureRect</key>
                <string>{{1,279},{75,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{83,93}</string>
                <key>textureRect</key>
                <string>{{78,279},{83,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{271,415},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{297,78},{42,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turret_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{297,1},{36,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>gameplay_layer.png</string>
            <key>size</key>
            <string>{337,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915d9373ddc9927aa7eb63466f24b9d0:fef174ca4edbd41cbb21d659279711a5:71e2c7b8b0052b370ab654277724ec3f$</string>
            <key>textureFileName</key>
            <string>gameplay_layer.png</string>
        </dict>
    </dict>
</plist>
