<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{164,279},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{86,378},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{178,371},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{1,498},{34,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{270,362},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{297,34},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{330,411},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,10}</string>
                <key>spriteSourceSize</key>
                <string>{47,10}</string>
                <key>textureRect</key>
                <string>{{330,362},{47,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mid_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{178,463},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mid_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,8}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,488},{64,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,31}</string>
                <key>spriteSourceSize</key>
                <string>{43,31}</string>
                <key>textureRect</key>
                <string>{{297,1},{43,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panzer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,81}</string>
                <key>spriteSourceSize</key>
                <string>{84,81}</string>
                <key>textureRect</key>
                <string>{{256,279},{84,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pulsar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{78,279},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_launcher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{244,466},{45,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raptor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,112}</string>
                <key>spriteSourceSize</key>
                <string>{75,112}</string>
                <key>textureRect</key>
                <string>{{1,279},{75,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{83,93}</string>
                <key>textureRect</key>
                <string>{{1,393},{83,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{270,414},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{295,466},{42,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>machine_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{86,470},{36,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>gameplay_layer.png</string>
            <key>size</key>
            <string>{341,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:619471f5b83acb3ac1389fa60d2fc2f9:3504d97821937544eacea2aece18b258:71e2c7b8b0052b370ab654277724ec3f$</string>
            <key>textureFileName</key>
            <string>gameplay_layer.png</string>
        </dict>
    </dict>
</plist>
