<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{374,100},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{279,163},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{371,192},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{19,297},{34,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>laser_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,10}</string>
                <key>spriteSourceSize</key>
                <string>{47,10}</string>
                <key>textureRect</key>
                <string>{{78,297},{47,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,31}</string>
                <key>spriteSourceSize</key>
                <string>{43,31}</string>
                <key>textureRect</key>
                <string>{{33,297},{43,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panzer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,81}</string>
                <key>spriteSourceSize</key>
                <string>{84,81}</string>
                <key>textureRect</key>
                <string>{{279,255},{84,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pulsar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{393,1},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_launcher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{365,284},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>raptor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,112}</string>
                <key>spriteSourceSize</key>
                <string>{75,112}</string>
                <key>textureRect</key>
                <string>{{279,1},{75,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speedy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{83,93}</string>
                <key>textureRect</key>
                <string>{{279,78},{83,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turret_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{1,297},{36,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>gameplay_layer.png</string>
            <key>size</key>
            <string>{478,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd64ccb5a73b9ccb06cea8f306430584:381f07ed51dd92fff225e012fb678006:71e2c7b8b0052b370ab654277724ec3f$</string>
            <key>textureFileName</key>
            <string>gameplay_layer.png</string>
        </dict>
    </dict>
</plist>
