<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{54,488}</string>
                <key>spriteSourceSize</key>
                <string>{100,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{57,73},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{57,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>map_layer.png</string>
            <key>size</key>
            <string>{128,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9beab1e3b264629d0ef43118bb02e278:5fc1e78d0b7103d280c51ef8df1f786f:a8716da968ef8c6ca882e9b5784000ed$</string>
            <key>textureFileName</key>
            <string>map_layer.png</string>
        </dict>
    </dict>
</plist>
