<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,55}</string>
                <key>spriteSourceSize</key>
                <string>{30,55}</string>
                <key>textureRect</key>
                <string>{{1453,611},{30,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>base_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1245,519},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1738,608},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1221,611},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1706,292},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,150}</string>
                <key>spriteSourceSize</key>
                <string>{1280,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accept_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{405,407},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accept_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1579,38},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_decline_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{532,407},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_decline_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{659,407},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_exit_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1563,370},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_exit_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1818,292},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_laser_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,125}</string>
                <key>spriteSourceSize</key>
                <string>{164,125}</string>
                <key>textureRect</key>
                <string>{{405,573},{164,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_laser_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,125}</string>
                <key>spriteSourceSize</key>
                <string>{164,125}</string>
                <key>textureRect</key>
                <string>{{1706,38},{164,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_main_menu_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{817,305},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_main_menu_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{1031,305},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1337,509},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1439,509},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mute_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1541,472},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mute_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1541,574},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_next_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1665,404},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_next_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1643,506},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_no_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{817,369},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_no_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{1031,369},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1767,404},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1869,394},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,305},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_play_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{203,305},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_replay_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{1245,305},{212,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_replay_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{1309,445},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_resume_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1869,496},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_resume_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1745,506},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rl_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{571,573},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rl_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{786,433},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sell_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{952,433},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sell_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1118,433},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_turret_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1309,279},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_turret_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1436,279},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unmute_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1119,599},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unmute_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1847,598},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_upgrade_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1706,165},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_upgrade_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1579,204},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yes_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{786,560},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yes_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{737,624},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{1563,279},{34,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1066,560},{58,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1393,663},{42,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{1665,370},{22,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1221,599},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1881,1},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,100}</string>
                <key>spriteSourceSize</key>
                <string>{410,100}</string>
                <key>textureRect</key>
                <string>{{405,305},{410,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,10}</string>
                <key>spriteSourceSize</key>
                <string>{47,10}</string>
                <key>textureRect</key>
                <string>{{737,688},{47,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mid_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1000,560},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mid_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,8}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1000,610},{64,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,31}</string>
                <key>spriteSourceSize</key>
                <string>{43,31}</string>
                <key>textureRect</key>
                <string>{{1920,291},{43,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panzer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,81}</string>
                <key>spriteSourceSize</key>
                <string>{84,81}</string>
                <key>textureRect</key>
                <string>{{951,624},{84,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pulsar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1872,91},{84,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r_launcher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{737,573},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1283,1},{294,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raptor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,112}</string>
                <key>spriteSourceSize</key>
                <string>{75,112}</string>
                <key>textureRect</key>
                <string>{{1872,177},{75,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,35}</string>
                <key>spriteSourceSize</key>
                <string>{300,35}</string>
                <key>textureRect</key>
                <string>{{1579,1},{300,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speedy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{83,93}</string>
                <key>textureRect</key>
                <string>{{1643,608},{83,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1393,611},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1413,663},{42,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,150}</string>
                <key>spriteSourceSize</key>
                <string>{1280,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{1280,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1037,620},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1313,611},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turret_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{1523,445},{36,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{1970,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a53ad6987ee8a5c9916f8f0e19093b64:8af98af87d62dd33ecb4b1dff8fe9f93:4d62dffd4b30afc993a479a24a39bc82$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
