<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,150}</string>
                <key>spriteSourceSize</key>
                <string>{1280,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accept.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1283,1},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_decline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,146}</string>
                <key>spriteSourceSize</key>
                <string>{107,146}</string>
                <key>textureRect</key>
                <string>{{1619,1},{107,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{1619,149},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lsr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,110}</string>
                <key>textureRect</key>
                <string>{{1507,1},{150,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1728,1},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1728,53},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{1618,201},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,148}</string>
                <key>spriteSourceSize</key>
                <string>{109,148}</string>
                <key>textureRect</key>
                <string>{{1507,153},{109,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1283,153},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_trt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1395,1},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1395,153},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,150}</string>
                <key>spriteSourceSize</key>
                <string>{1280,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{1280,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui_layer.png</string>
            <key>size</key>
            <string>{1829,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeafcbffbc16e40dd1a9af549f635786:a71c2395bc6809598f28a0d8af6d8051:999459db93e85fadf85e9c561de50b7f$</string>
            <key>textureFileName</key>
            <string>ui_layer.png</string>
        </dict>
    </dict>
</plist>
